# Build output
/dist/

# Bun lockfile
bun.lock

# Node modules (if ever used)
node_modules/

# Logs
*.log

# OS files
.DS_Store

# IDE/editor files
.vscode/
.idea/

.turbo
*.log
.next
dist-ssr
*.local
.env
.cache
server/dist
public/dist
.turbo
test-results
dist
.ideabun.lock
bun.lock
